mkdocs
mkdocs-autolinks-plugin
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-plugin
mkdocs-macros-plugin
mkdocs-material
mkdocs-redirects
mkdocs-windmill
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
