zensical
mkdocs-autolinks-plugin
mkdocs-awesome-nav
mkdocs-git-revision-date-localized-plugin
mkdocs-macros-plugin
mkdocs-redirects
mkdocs-windmill
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
